@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .pause {
        animation-play-state: paused;
    }
}

.swiper-button-prev {
    color: rgb(155, 158, 155) !important;
}

.swiper-button-next {
    color: rgb(155, 158, 155) !important;
}